.modal-title,
.social-login {
    text-align: center
}

html,body{
    height:100%;
}

@font-face {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v7/sKd0EMYPAh5PYCRKSryvW6CWcynf_cDxXwCLxiixG1c.ttf) format('truetype')
}

@font-face {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 700;
    src: local('Quicksand Bold'), local('Quicksand-Bold'), url(https://fonts.gstatic.com/s/quicksand/v7/32nyIRHyCu6iqEka_hbKsonF5uFdDttMLvmWuJdhhgs.ttf) format('truetype')
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Barlow Semi Condensed Regular'), local('BarlowSemiCondensed-Regular'), url(https://fonts.gstatic.com/s/barlowsemicondensed/v1/Ok4yyskPwFvZPrXlQ7v908wpCuwZUXUamS0_9Spumd4.ttf) format('truetype')
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 600;
    src: local('Barlow Semi Condensed SemiBold'), local('BarlowSemiCondensed-SemiBold'), url(https://fonts.gstatic.com/s/barlowsemicondensed/v1/ZyxfuHr9OuBXRZHPDKRFf11OHkx2X8doGCVPaei_JVf3rGVtsTkPsbDajuO5ueQw.ttf) format('truetype')
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    /*padding-bottom: 191px;*/
    /* must be same height as the footer */
}

#collection {
    background: rgba(30, 30, 30, 0.2); /* dimming the background for clear image display */
}

  /* Opera Fix thanks to Maleika (Kohoutec) */
  
body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
    /* thank you Erik J - negate effect of float*/
  }

::-webkit-scrollbar-track {
    background-color: transparent!important
}

body {
    font-family: Quicksand, sans-serif;
    background: url(../images/mainbodybackground.jpg) center center fixed;
}

::-webkit-scrollbar {
    width: 7px!important;
    background-color: transparent!important
}

::-webkit-scrollbar-thumb {
    background-color: #000!important
}

::-webkit-scrollbar-thumb:window-inactive {
    width: 1px
}

#about-us,
#cartPage,
#checkout,
#collection,
#contact-us,
#eGift-card,
#featured-brands,
#login,
#productSearch,
#profile-page,
#register,
#serviceSearch,
#services-page,
#single-product,
#social-page,
#termsAndcondition {
    margin-top: 76px!important;
    padding-top: 4px!important
}

.modal-content {
    background: url(../images/bodybackground.jpg)
}

.modal-title {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.custom-hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .2)
}

.main-heading,
.sm-heading {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.main-heading h1,
.main-heading h2,
.main-heading h3,
.main-heading h4,
.main-heading h5,
.sm-heading h1,
.sm-heading h2,
.sm-heading h3,
.sm-heading h4,
.sm-heading h5 {
    display: inline-block;
    margin: 0
}

.main-heading .custom-hr,
.sm-heading .custom-hr {
    width: 150px;
    border-width: 2px
}

.sm-heading .custom-hr {
    margin: .5rem 0;
    border-width: 1px;
    width: 100px
}

a {
    color: inherit;
    text-decoration: none
}

.image-block {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

/* Modified My Cart's Checkout and Empty Cart Buttons's Background Color */
.checkoutBtnCart{
    border: 2px solid #23272b;
}

.emptyCart_btn{
    border: 2px solid #23272b;
    background: 0 0 !important;
    color: black !important;
    font-weight: 600;
}

.emptyCart_btn:hover{
    background-color: #23272b !important;
    color: #fff !important;
    font-weight:600;
}

/* ./Modified My Cart's Checkout Button's Background Color */

.custom-btn,
.product-block .product .product-overlay .product-options .addToCart {
    background-color: #23272b;
    padding: 8px 25px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
    cursor: pointer;
    font-family: 'Barlow Semi Condensed', sans-serif
}

.custom-btn:focus,
.custom-btn:hover,
.product-block .product .product-overlay .product-options .addToCart:focus,
.product-block .product .product-overlay .product-options .addToCart:hover {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
    color: #fff
}

.custom-btn i,
.product-block .product .product-overlay .product-options .addToCart i {
    margin-right: 5px
}

.small-btn {
    padding: 4px 8px;
    font-size: .7rem
}

.black-btn {
    background-color: #23272b
}

.info-btn {
    background: #17a2b8
}

.facebook-btn {
    background-color: #3B5998
}

.btn-custom,
.btn-custom-outline {
    background-color: rgba(255, 255, 255, .6);
    border-radius: 0;
    padding: 8px 16px;
    cursor: pointer;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #23272b
}

.btn-custom-outline:focus,
.btn-custom-outline:hover,
.btn-custom:focus,
.btn-custom:hover {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #23272b;
    color: #fff
}

.btn-custom-outline {
    border: 2px solid #23272b;
    background: 0 0
}

.custom-select-option {
    min-width: 120px;
    border: 1px solid #444;
    background-color: #ebebeb;
    padding: 0 12px;
    color: #23272b;
    height: 32px;
    border-radius: 3px;
    font-weight: 400;
    font-family: 'Barlow Semi Condensed', sans-serif
}

.custom-select-option:focus {
    text-decoration: none;
    border: 1px solid #bfbfbf;
    outline: 0
}

.share-options {
    margin: 10px 0
}

.share-options ul {
    margin: 0;
    padding: 0;
    display: inline-block
}

.share-options ul li {
    list-style: none;
    display: inline-block;
    margin-right: 10px
}

.share-options ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    width: 40px;
    color: #fff;
    background: #444;
    border: 1px solid #444;
    border-radius: 50%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.share-options ul li a i {
    font-size: 20px
}

.share-options ul li a:hover {
    text-decoration: none;
    color: #444;
    background: 0 0
}

.custom-tabs .nav-tabs .nav-link {
    border-right: none;
    border-left: none;
    border-top: none;
    border-radius: 0;
    font-weight: 700;
    font-family: 'Barlow Semi Condensed', sans-serif
}

.custom-tabs .nav-tabs .nav-link.active {
    border-width: 2px;
    border-color: transparent transparent #757575;
    background: rgba(255, 255, 255, .55);
    color: #81302e
}

.modal-body {
    padding-left: 30px;
    padding-right: 30px
}

.modal-body .modal-body-title {
    font-size: 1.8em;
    margin-bottom: 30px
}

.modal-body form {
    padding: 10px 0
}

.modal-body form .login-check,
.modal-body form .login-forgot {
    font-size: .9rem
}

.modal-body form .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0 0
}

.modal-body form .btn-block {
    display: inline-block;
    width: 80%
}

.modal-body .tab-content {
    padding: 20px 0!important
}

.social-login .connect-with {
    position: relative;
    margin: 20px 0 30px
}

.social-login .connect-with span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: .9rem;
    padding: 5px;
    background: rgba(255, 255, 255, .5);
    color: #999
}

.social-login .connect-with hr {
    border-color: #999
}

.user-avatar-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.user-avatar-block .user-avatar {
    height: 50px;
    width: 50px;
    max-width: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px
}

.user-avatar-block .user-avatar img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.user-avatar-block .user-info h5 {
    margin: 0;
    font-size: 1.02rem
}

.user-avatar-block .user-info span {
    font-size: .85rem
}

.section-padding {
    padding: 4em 0
}

.heading-padding {
    padding-bottom: 5vh
}

.header-margin {
    margin-top: 76px
}

.searchBox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 65px;
    display: none;
    background: url(../images/bodybackground.jpg)
}

.cart-item,
.searchBox #closeSearch {
    display: -webkit-box;
    display: -ms-flexbox
}

.searchBox #closeSearch {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 50%;
    right: 30px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700
}

.searchBox #searchInput {
    outline: 0;
    border: 0;
    color: #000;
    font-size: 1.2rem;
    width: 100%;
    /* height: -webkit-fill-available; */
    text-align: left;
    padding: 0 30px;
    background: 0 0;
    height: 100%;
    min-height: 65px;
}

.searchBox #searchInput::-webkit-input-placeholder {
    color: #444;
    text-align: left;
    padding: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.searchBox #searchInput:-ms-input-placeholder {
    color: #444;
    text-align: left;
    padding: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.searchBox #searchInput::placeholder {
    color: #444;
    text-align: left;
    padding: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.searchBox #searchInput:focus {
    border-color: #444
}

.searchBox #searchInput:focus::-webkit-input-placeholder {
    padding-left: 10px
}

.searchBox #searchInput:focus:-ms-input-placeholder {
    padding-left: 10px
}

.searchBox #searchInput:focus::placeholder {
    padding-left: 10px
}

@media (max-width:576px) {
    .searchBox #searchInput {
        min-height: 65px;
    }
}

#searchBtn {
    height: 35px;
    max-height: 35px;
    background: 0 0;
    border: none!important;
    outline: 0!important;
    cursor: pointer
}

.cart-item {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 5px;
    padding-bottom: 9px;
    border-bottom: 1px solid #999;
    position: relative
}

.cart-item .removeFromCart {
    position: absolute;
    top: 5px;
    right: 10px
}

.cart-item .cart-img {
    padding: 5px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
    height: 120px;
    max-width: 120px;
    overflow: hidden
}

.cart-item .cart-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.cart-item .cart-details {
    font-size: .8rem
}

.cart-item .cart-details ul {
    padding-left: 10px
}

.cart-item .cart-details ul li {
    list-style: none
}

.marginZero {
    margin: 0!important
}

#login>.container,
#register>.container {
    max-width: 600px
}

.noDetails {
    height: 300px;
    max-height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.page-item .page-link {
    background: #cfcfcc ;
    color: gray;
    border-color: gray
}

.page-item.disabled .page-link{
    background: #cfcfcc ;
    color: gray;
    border-color: gray
}

.page-item .page-link:hover {
    background: rgba(255, 255, 255, .35)
}

.flex-viewport {
    border-color: transparent!important
}

.flexslider {
    /*background: rgba(255, 255, 255, 0)!important;*/
    background: rgba(30, 30, 30, 0.4)!important; /* dimming the background for clear image display */
    border-color: rgba(255, 255, 255, 0)!important
}

.info-pg-container {
    display: block;
    margin: 30px auto;
    background: rgba(255, 255, 255, .55);
    border-radius: 5px;
    padding: 30px;
    max-width: 920px
}

.info-pg-container .info-pg-heading {
    text-align: center;
    margin: 15px 0 30px
}

.info-pg-container .info-pg-heading h1 {
    font-size: 3rem
}

.info-pg-container .info-pg-heading small {
    font-size: .85rem;
    padding: 10px 0
}

.info-pg-container .info-pg-hr {
    margin-bottom: 2rem
}

.info-pg-container .info-pg-terms {
    margin: 0;
    padding: 0
}

.info-pg-container .info-pg-terms>li {
    list-style: none;
    margin-bottom: 40px
}

.info-pg-container .info-pg-terms>li h2 {
    font-size: 1.6rem;
    font-family: 'Barlow Semi Condensed', sans-serif
}

.info-pg-container .info-pg-terms>li p {
    margin-bottom: 15px
}

.info-pg-container .info-pg-terms>li ol {
    margin: 0;
    padding-left: 20px
}

.info-pg-container .info-pg-terms>li ol li {
    padding-bottom: 5px
}

.info-pg-container .info-img-container {
    margin: 20px 0 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.info-pg-container .info-img-container .info-img {
    margin-bottom: 10px
}

.info-pg-container .info-img-container .info-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.info-pg-container iframe {
    width: 100%;
    height: auto;
    min-height: 350px
}

.contact-wrapper .contact-details {
    text-align: center;
    min-height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.navbar .right-nav-block,
.rating,
.services-pg-container .services-header>section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse
}

.contact-wrapper .contact-details>div {
    margin-bottom: 30px
}

.contact-wrapper .contact-details>div h5 {
    margin-bottom: 15px
}

.contact-wrapper .contact-details>div span {
    margin: 0 5px
}

.contact-wrapper .contact-details>div span i {
    margin-right: 9px
}

.contact-wrapper .contact-details>div:last-of-type {
    margin: 0
}

.contact-wrapper .contact-details .share-options {
    margin-top: 20px
}

.eGift-wrapper .eGift-details .eGift-terms ul.info-pg-details>li {
    margin-bottom: 30px
}

.social-wrapper .breadcrumb {
    background: 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.social-wrapper.pg-bottom .social-pg-details .info-img-container,
.social-wrapper.pg-top .social-pg-details .info-img-container {
    margin-bottom: 20px
}

.social-wrapper.pg-bottom .social-pg-details .info-img-container .info-img,
.social-wrapper.pg-top .social-pg-details .info-img-container .info-img {
    min-height: 230px
}

.social-wrapper.pg-bottom .info-pg-heading h1 {
    font-size: 2rem
}

.social-wrapper.pg-bottom .social-pg-details .info-img-container .info-img {
    min-height: 230px
}

.social-wrapper .social-pg-details .info-img-container .info-img {
    padding: 0 1px
}

#services-page .container {
    max-width: 900px;
}

#services-page .container h1,
#services-page .container h2,
#services-page .container h3,
#services-page .container h4,
#services-page .container h5 {
    color: #81302e
}

#services-page .container #servicesTabContent {
    margin-top: 15px
}

#services-page .container .badge {
    opacity: .8
}

#services-page .container .tab-pane .row .col-12 {
    min-height: 300px
}

.services-pg-container .services-header {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    margin: 20px 0
}

.services-pg-container .services-header h2 {
    color: #000;
    margin-bottom: .75rem
}

.services-pg-container .services-header>section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.services-pg-container .services-header>section .sg-search-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url(../images/bodybackground.jpg)
}

.services-pg-container .services-header>section .sg-search-box input {
    border: none;
    border-radius: unset;
    background: 0 0
}

.product-block .product .product-overlay .product-options .services-pg-container .services-header>section .sg-search-box button.addToCart,
.services-pg-container .services-header>section .sg-search-box .product-block .product .product-overlay .product-options button.addToCart,
.services-pg-container .services-header>section .sg-search-box button.custom-btn {
    padding-left: 15px;
    padding-right: 15px;
    background: #81302e
}

.services-pg-container .custom-tabs .nav-tabs .nav-link:hover:not(.active) {
    color: #81302e;
    background: rgba(255, 255, 255, .2);
    border-bottom: none
}

.services-pg-container .services-info-list {
    background: rgba(255, 255, 255, .45);
    margin: 15px 0 30px;
    border: none;
    border-radius: unset
}

.services-pg-container .services-info-list:first-of-type {
    padding-top: 0
}

.services-pg-container .services-info-list .si-list-body,
.services-pg-container .services-info-list .si-list-footer,
.services-pg-container .services-info-list .si-list-header {
    padding: 10px 15px
}

.services-pg-container .services-info-list .si-list-header {
    padding-bottom: 15px;
    padding-top: 15px;
    border: none;
    position: relative;
    background: rgba(0, 0, 0, .05)
}

.services-pg-container .services-info-list .si-list-header .si-header-date span {
    font-size: 1.3rem;
    color: #999
}

.services-pg-container .services-info-list .si-list-header .si-header-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.services-pg-container .services-info-list .si-list-header .si-header-title h3 {
    font-size: 1.55rem;
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif
}

.services-pg-container .services-info-list .si-list-header .si-header-title small {
    font-weight: 400;
    font-size: .85rem;
    color: #999
}

.services-pg-container .services-info-list .si-list-header .si-header-badge {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    width: 50px;
    color: #fff;
    background: url(data:image/svg+xml,%20%20%20%20%20%20%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%2C0%20200%2C200%22%3E%20%20%20%20%20%20%20%20%3Cpolygon%20fill%3D%22%23b81414%22%20points%3D%22100%2C%200%20113.29693%2C%2016.04649%20130.9017%2C%204.89435%20138.58919%2C%2024.26445%20158.77853%2C%2019.0983%20160.10408%2C%2039.89592%20180.9017%2C%2041.22147%20175.73555%2C%2061.41081%20195.10565%2C%2069.0983%20183.95351%2C%2086.70307%20200%2C%20100%20183.95351%2C%20113.29693%20195.10565%2C%20130.9017%20175.73555%2C%20138.58919%20180.9017%2C%20158.77853%20160.10408%2C%20160.10408%20158.77853%2C%20180.9017%20138.58919%2C%20175.73555%20130.9017%2C%20195.10565%20113.29693%2C%20183.95351%20100%2C%20200%2086.70307%2C%20183.95351%2069.0983%2C%20195.10565%2061.41081%2C%20175.73555%2041.22147%2C%20180.9017%2039.89592%2C%20160.10408%2019.0983%2C%20158.77853%2024.26445%2C%20138.58919%204.89435%2C%20130.9017%2016.04649%2C%20113.29693%200%2C%20100%2016.04649%2C%2086.70307%204.89435%2C%2069.0983%2024.26445%2C%2061.41081%2019.0983%2C%2041.22147%2039.89592%2C%2039.89592%2041.22147%2C%2019.0983%2061.41081%2C%2024.26445%2069.0983%2C%204.89435%2086.70307%2C%2016.04649%22%20/%3E%20%20%20%20%20%20%3C/svg%3E%20%20%20%20) center center no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -25px;
    margin-right: 5px;
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Barlow Semi Condensed', sans-serif
}

.services-pg-container .services-info-list .si-list-body {
    font-size: .85rem;
    text-align: justify
}

.flex-control-nav,
.profile-img .profile-actions {
    text-align: center
}

.services-pg-container .services-info-list .si-list-body p {
    margin-bottom: .5rem
}

.services-pg-container .services-info-list .si-list-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#profile-page>.container {
    margin-top: 50px;
    margin-bottom: 50px
}

#profile-page>.container>.row {
    padding: 30px;
    background: rgba(0, 0, 0, .035)
}

#profile-page .list-group-item {
    background: rgba(255, 255, 255, .45);
    position: relative
}

#profile-page .list-group-item:focus,
#profile-page .list-group-item:hover {
    background: rgba(255, 255, 255, .7)
}

.profile-img .user-avatar-block {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.profile-img .user-avatar-block .user-avatar {
    width: 160px;
    max-width: 160px;
    height: 160px;
    max-height: 160px;
    border-radius: 5px;
    padding: 2px;
    border: 1px solid #ebebeb;
    background: #fff;
    margin: 0
}

.profile-img .profile-actions a {
    display: block;
    cursor: pointer
}

.profile-img .profile-actions a:hover {
    text-decoration: underline
}

.profile-details #applicantsBlock .row>.col-12,
.profile-details #historyBlock .row>.col-12,
.profile-details #infoBlock .row>.col-12,
.profile-details #postBlock .row>.col-12 {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 8px;
    padding-top: 10px
}

.profile-details #profileTabContent {
    margin-top: 15px
}

.profile-details #infoBlock .card {
    background: rgba(255, 255, 255, .45)
}

.profile-details #infoBlock .card .card-header {
    position: relative
}

.profile-details #infoBlock .card .card-header h3 {
    margin: 0;
    text-align: center
}

.profile-details #infoBlock .card .card-header>a {
    height: 35px;
    width: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer
}

.profile-details #infoBlock .card .card-header>a i {
    font-size: 1.2rem
}

.profile-details #infoBlock .card .card-body ul {
    padding: 0
}

.profile-details #infoBlock .card .card-body ul li {
    list-style: none;
    font-weight: 700;
    padding: 5px 0
}

.profile-details #infoBlock .card .card-body ul li span {
    font-weight: 400;
    margin-left: 5px
}

.profile-details #historyBlock .cart-item {
    border: none!important;
    padding: 0;
    margin: 0;
    width: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.profile-details #historyBlock .cart-item .cart-details {
    font-size: 1rem
}

.profile-details #historyBlock .cart-item .cart-details ul {
    margin: 0
}

.profile-details #postBlock .add-posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 1rem 0 1.5rem
}

.profile-details #applicantsBlock .applicant-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 15px
}

.profile-details #applicantsBlock .applicant-details img {
    width: 100px;
    max-width: 100px;
    max-height: 100px;
    margin-right: 15px
}

.profile-details #applicantsBlock .applicant-details ul {
    padding: 0
}

.profile-details #applicantsBlock .applicant-details ul li {
    list-style: none
}

.profile-details #applicantsBlock .custom-select-option {
    width: 100%;
    border: none
}

.profile-details #applicantsBlock .list-group-item .application-badge {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    width: 60px;
    color: #fff;
    background: url(/frontend-assets/images/new.png) center center no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: .78rem
}

.rating {
    width: 98px;
    height: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.rating label {
    position: relative;
    width: 18px;
    height: 18px;
    cursor: pointer
}

.rating label:not(:first-of-type) {
    padding-right: 2px
}

.rating label:before {
    content: "\2605";
    font-size: 20px;
    color: #999;
    line-height: 1
}

.rating input {
    display: none
}

.rating input:checked~label:before,
.rating:not(:checked)>label:hover:before,
.rating:not(:checked)>label:hover~label:before {
    color: #23272b
}

@font-face {
    font-family: flexslider-icon;
    src: url(../fonts/webfont/flexslider-icon.eot);
    src: url(../fonts/webfonts/flexslider-icon.eot?#iefix) format("embedded-opentype"), url(../fonts/webfonts/flexslider-icon.woff) format("woff"), url(../fonts/webfonts/flexslider-icon.ttf) format("truetype"), url(../fonts/webfonts/flexslider-icon.svg#flexslider-icon) format("svg");
    font-weight: 400;
    font-style: normal
}

.flex-container a:focus,
.flex-container a:hover,
.flex-slider a:focus,
.flex-slider a:hover {
    outline: 0
}

.flex-control-nav,
.flex-direction-nav,
.slides,
.slides>li {
    margin: 0;
    padding: 0;
    list-style: none
}

.flex-pauseplay span {
    text-transform: capitalize
}

.flexslider {
    padding: 0;
    margin: 0 0 10px;
    border: 4px solid #fff;
    position: relative;
    zoom: 1;
    border-radius: 4px;
    -webkit-box-shadow: "" 0 1px 4px rgba(0, 0, 0, .2);
    -o-box-shadow: "" 0 1px 4px rgba(0, 0, 0, .2);
    box-shadow: "" 0 1px 4px rgba(0, 0, 0, .2)
}

.flexslider .slides>li {
    display: none;
    -webkit-backface-visibility: hidden
}

.flexslider .slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

html[xmlns] .flexslider .slides {
    display: block
}

* html .flexslider .slides {
    height: 1%
}

.no-js .flexslider .slides>li:first-child {
    display: block
}

.flexslider .slides {
    zoom: 1
}

.flexslider .slides img {
    width: 100%;
    display: block;
    height: 100%
}

.flex-viewport {
    max-height: 450px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    border: 1px solid #D1CFCF
}

.loading .flex-viewport {
    max-height: 300px
}

.carousel li {
    margin-right: 5px
}

.flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
    margin: -20px 0 0;
    position: absolute;
    top: 41%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-indent: -9999px
}

.flex-direction-nav .flex-prev {
    left: -50px
}

.flex-direction-nav .flex-next {
    right: -50px
}

.flexslider:hover .flex-direction-nav .flex-prev {
    opacity: .7;
    left: 10px
}

.flexslider:hover .flex-direction-nav .flex-prev:hover {
    opacity: 1
}

.flexslider:hover .flex-direction-nav .flex-next {
    opacity: .7;
    right: 10px
}

.flexslider:hover .flex-direction-nav .flex-next:hover {
    opacity: 1
}

.flex-direction-nav .flex-disabled {
    opacity: 0!important;
    filter: alpha(opacity=0);
    cursor: default
}

.flex-pauseplay a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    opacity: .8;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #000
}

.navbar-nav .nav-item .fa,
.navbar-nav li {
    color: #fff;
    font-size: 1.3rem
}

.flex-pauseplay a:before {
    font-family: flexslider-icon;
    font-size: 20px;
    display: inline-block;
    content: '\f004'
}

.flex-pauseplay a:hover {
    opacity: 1
}

.flex-pauseplay a .flex-play:before {
    content: '\f003'
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px
}

.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1
}

.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, .5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    border-radius: 20px
}

.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, .7)
}

.flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, .9);
    cursor: default
}

.flex-control-thumbs {
    /*margin: 5px 0 0;*/ /* use this if background is set to transparent */
    margin: 5px 4.7px 2px;
    position: static;
    overflow: hidden
}

.flex-control-thumbs li {
    width: 32.2%;
    float: left;
    margin: 0 1% 0 0
}

.flex-control-thumbs li:nth-child(4) {
    margin: 0
}

.flex-control-thumbs img {
    width: 100%;
    height: auto;
    display: block;
    opacity: .7;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    /*border: 1px solid #D1CFCF;*/ /* use this border properties if background needs to be transparent with opacity .7 */
    border: 1px solid #b4b1b1; /* use this border properties if background needs to be dimmed with opacity .7 */
}

.navbar .center-nav-block,
.navbar .left-nav-block {
    display: -webkit-box;
    display: -ms-flexbox;
    margin: 0!important
}

.flex-control-thumbs img:hover {
    opacity: 1
}

.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default
}

@media screen and (max-width:860px) {
    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 10px
    }
    .flex-direction-nav .flex-next {
        opacity: 1;
        right: 10px
    }
}

header {
    position: relative
}

.navbar {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background: 0 0
}

.navbar .left-nav-block {
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%
}

.navbar .center-nav-block {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%
}

.navbar .right-nav-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0!important;
    width: 25%
}

.navbar .mobile-brand {
    display: none
}

@media (max-width:575px) {
    .navbar .left-nav-block,
    .navbar .right-nav-block {
        width: auto
    }
    .navbar .center-nav-block {
        display: block;
        width:auto;
        
    }
    .navbar .mobile-brand {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0
    }
    .navbar .mobile-brand img {
        display: none;
        width: 50px!important;
        height: 20px!important
    }
}

@media (max-width:375px) {
    .navbar .left-nav-block,
    .navbar .right-nav-block {
        width: auto
    }
    .navbar .center-nav-block {
        display: block;
        width:100px;
        height:40px;
        padding-bottom:5px;

    }
    .navbar .mobile-brand {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0
    }
    .navbar .mobile-brand img {
        display: none;
        width: 50px!important;
        height: 20px!important
    }
}
.navbar-nav .nav-item {
    margin-left: .85rem;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative
}

.drawer-nav,
.drawer-nav-cart {
    background: url(../images/bodybackground.jpg);
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical
}

.navbar-nav .nav-item .user-avatar-block .user-avatar {
    height: 35px;
    width: 35px;
    max-height: 35px;
    margin: 0
}

.navbar-nav .nav-item .nav-link {
    font-size: 1.3rem;
    padding: 0
}

@media (max-width:480px) {
    .navbar-nav .nav-item .fa,
    .navbar-nav .nav-item .nav-link,
    .navbar-nav li {
        font-size: 1rem
    }
    .navbar-nav .nav-item {
        margin-left: .6rem
    }
    .navbar-nav .nav-item .user-avatar-block .user-avatar {
        height: 28px;
        width: 28px;
        max-height: 28px
    }
}

.drawer-toggle {
    cursor: pointer
}

.drawer-brand {
    color: #81302e;
    padding-top: 5px;
    font-size: 1.7rem;
    font-weight: 500
}

.drawer-brand:hover {
    text-decoration: none;
    color: #81302e
}

.drawer-nav {
    padding: .8em 0 .8em 1em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: flex;
    flex-direction: column
}

.drawer-nav .right-menu {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px
}

.drawer-nav .right-menu .fa {
    float: right;
    color: #4c4c4c
}

.drawer-nav .share-options {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 0px;
    flex: 0 0 0
}

.drawer-nav-cart {
    padding: .8em 1em;
    position: fixed;
    z-index: 1050;
    top: 0;
    overflow: hidden;
    max-width: 320px;
    min-width: 320px;
    height: 100%;
    color: #222;
    display: flex;
    flex-direction: column
}

.drawer-nav-cart>section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    min-height: 100%
}

.drawer-right .drawer-nav-cart {
    right: -320px;
    -webkit-transition: right .6s cubic-bezier(.19, 1, .22, 1);
    transition: right .6s cubic-bezier(.19, 1, .22, 1)
}

.drawer-right.drawer-open .drawer-nav-cart {
    right: 0
}

.sub-menu {
    list-style-type: none;
    overflow: hidden;
    display: none;
    padding-left: 10px;
    margin: 0
}

.sub-menu li {
    line-height: 15px
}

.sub-menu li a {
    padding-top: 9px;
    padding-bottom: 9px
}

.drawer-menu {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
}

.drawer-menu .drawer-menu-item {
    font-size: 1.1rem
}

.drawer-menu>li>.flex-container {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.drawer-menu>li>.flex-container>a {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0
}

.drawer-menu>li>.flex-container>.navToggle {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
    max-height: 40px;
    height: 40px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.drawer-nav-brand {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.drawer-nav-brand a {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0
}

.drawer-nav-brand .closecart,
.drawer-nav-brand .drawerclose {
    font-size: 1.5rem;
    cursor: pointer;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
    padding: 0 10px;
    display: none
}

.drawer-nav-brand .closecart {
    display: block
}

.cart-list {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 0;
    height: 100%;
}

.cart-list>li {
    list-style: none
}

.cart-list .custom-qty-input {
    background: #ebebeb;
    border: none;
    outline: 0!important;
    border-radius: 3px;
    padding-left: 8px;
    max-width: 100px
}

.cart-list .cart-details li:first-of-type {
    font-weight: 700
}

.drawer-cart-action h5 {
    margin: 10px 0 20px
}

.drawer-cart-action a,
.drawer-cart-action button {
    margin-bottom: 10px
}

.nav-badge {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    
    /* Modified */
    top: -1px;
    right: -7px;
    background: #81302e;
    color: #fff;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    min-height: 17px;
    font-size: 0.65rem;
    
  /* 
    top: -9px;
    right: -7px;
    background: #23272b;
    color: #fff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    min-height: 20px;
    font-size: .8rem
    
    */
}

#homeslider .carousel-inner .carousel-item {
    min-height: 80vh;
    max-height: 80vh
}

#homeslider .carousel-inner .carousel-item img {
    width: 100%;
    height: 80vh;
    -o-object-fit: cover;
    object-fit: cover
}

@media (min-width:992px) {
    #homeslider .carousel-inner .carousel-item {
        height: 100vh;
        max-height: 100vh
    }
    #homeslider .carousel-inner .carousel-item img {
        height: 100vh
    }
}

.naipala-caption {
    background: rgba(0, 0, 0, .65);
    padding: 30px;
    color: #fff;
    margin-top: 35%;
    margin-bottom: 25%;
    right: unset;
    text-align: left
}

.naipala-caption h3 {
    font-size: 4rem
}

.naipala-caption p {
    font-size: 1.6rem;
    margin: 0
}

#featured-collection .collecion-cta {
    position: absolute;
    bottom: 0;
    left: 5%
}

#featured-collection .collecion-cta h3 {
    font-family: sans-serif;
    color: #000
}

#featured-collection .img-fluid {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

#featured-collection .featured-products section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: rgba(255, 255, 255, .25)
}

#featured-collection .featured-products section>div {
    text-align: center;
    padding: .6rem 0
}

#featured-collection .featured-products section>div h3 {
    margin-top: 0;
    font-family: 'Barlow Semi Condensed', sans-serif
}

#featured-collection .featured-products section>div p {
    font-size: .9rem
}

#featured-collection .featured-products section>div a {
    font-size: .85rem;
    font-weight: 700
}

#featured-collection .featured-products section>div a span {
    font-weight: 700
}

#featured-collection .featured-products section>div a:hover {
    color: #23272b;
    text-decoration: none;
    font-weight: 700
}

#featured-collection .featured-products div:nth-of-type(even) section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
}

#footer .container,
.naipala-story .naipala-story-details,
.product-block .product .product-overlay {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
}

#featured-collection .featured-products .img-fluid {
    max-height: 300px
}

.youtube-section {
    padding: 5em 0;
   }

.youtube-section .container iframe {
    margin-top: 20px;
    width: 100%;
    min-height: 480px
}

.youtube-section .container .youtube-details a {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: rgb(0, 0, 0)
}

.trending .card {
    background: 0 0;
    border: none
}

@media (min-width:1199px) {
    .trending .card {
        border-right: 1px solid #000;
        border-radius: 0
    }
}

.trending .card-title {
    line-height: 40px
}

.trending .card-text {
    font-size: 1.1rem
}

.trending .card-button {
    background: 0 0;
    border: 1px solid #000;
    text-transform: uppercase;
    padding: .4em 1.2em;
    cursor: pointer;
    -webkit-transition: all ease .3s;
    transition: all ease .3s
}

.trending .card-button:focus,
.trending .card-button:hover {
    color: #fff;
    background: #000
}

.trending a,
.trending a:hover {
    text-decoration: none
}

.trending .product {
    position: relative
}

.trending .product .price {
    color: #000;
    font-size: 1.2em;
    text-align: center;
    margin-top: .6em
}

.trending .product .product-overlay {
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: 5;
    visibility: hidden;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.trending .product .product-overlay a {
    color: #000
}

.trending .product .product-overlay .product-title {
    font-size: .8rem;
    font-weight: 800;
    margin-bottom: 0;
    color: #000
}

.trending .product .product-overlay .btn--addcart {
    background: url(../../../assets/images/bodybackground.jpg);
    font-size: .7rem
}


@media (max-width:575px) {
    .naipala-story {
        padding-top: 40px;
        padding-bottom: 40px
    }
}

.naipala-story .naipala-story-details,
.naipala-story .newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center
}

.naipala-story .naipala-story-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column
}

.naipala-story .naipala-story-details .story-title {
    margin-bottom: 20px
}

.naipala-story .naipala-story-details .cta-block {
    margin: 10px
}

#collection>.container,
#featured-brands>.container {
    padding-bottom: 80px
}

#collection .collection-header,
#featured-brands .collection-header {
    padding: 0 3rem;
    text-align: center;
    max-width: 1200px;
    margin: 3rem auto 4rem;
}

#collection .collection-header>p,
#featured-brands .collection-header>p {
    font-size: 2.5rem;
    font-family: 'Barlow Semi Condensed', sans-serif
}

#collection .collection-header>p a,
#featured-brands .collection-header>p a {
    color: #000;
    font-weight: 600;
    line-height: 2.8rem;
    text-decoration: none;
    border-bottom: 2px solid #000;
    display: inline-block
}

#collection .collection-header>p a:hover,
#featured-brands .collection-header>p a:hover {
    color: #000;
    text-decoration: none
}

.product-list {
    margin-top: 20px
}

.product-block {
    height: 100%
}

.product-block .product {
    display: block;
    height: 100%;
    cursor: pointer;
    position: relative
}

.product-block .product .product-img {
    display: block;
    position: relative;
    padding: 20px 0
}

.product-block .product .product-img>a {
    display: block
}

.product-block .product .product-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.product-block .product .product-img .product-price {
    color: #000;
    font-size: 1em;
    text-align: center;
    margin-top: .4em
}

.product-block .product .product-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    visibility: hidden;
    opacity: 0;
    text-decoration: none
}

.product-block #single-product>.container {
    padding: 100px 0
}

#single-product>.container {
    padding: 20px 0;
}

#single-product>.container .row.sg-product-section,
#single-product>.container .row.sg-review-section,
#single-product>.container .row.sg-sets-apart-section,
#single-product>.container .row.sg-story-section {
    background: rgba(0, 0, 0, .035);
    margin: 0 0 30px
}

#single-product>.container hr {
    margin-bottom: 0
}

#single-product>.container .flex-control-thumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

#single-product .sg-review-section,
#single-product .sg-sets-apart-section,
#single-product .sg-story-section {
    padding: 30px 15px
}

#single-product .sg-review-section .sg-review-block .sg-review-card,
#single-product .sg-sets-apart-section .sg-review-block .sg-review-card,
#single-product .sg-story-section .sg-review-block .sg-review-card {
    background: rgba(255, 255, 255, .45);
    margin-bottom: 15px
}

#single-product .sg-review-section .sg-review-block .sg-review-card .card-header,
#single-product .sg-sets-apart-section .sg-review-block .sg-review-card .card-header,
#single-product .sg-story-section .sg-review-block .sg-review-card .card-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600
}

#single-product .sg-review-section .sg-review-block .sg-review-card .card-header h3,
#single-product .sg-review-section .sg-review-block .sg-review-card .card-header h4,
#single-product .sg-review-section .sg-review-block .sg-review-card .card-header h5,
#single-product .sg-review-section .sg-review-block .sg-review-card .card-header h6,
#single-product .sg-sets-apart-section .sg-review-block .sg-review-card .card-header h3,
#single-product .sg-sets-apart-section .sg-review-block .sg-review-card .card-header h4,
#single-product .sg-sets-apart-section .sg-review-block .sg-review-card .card-header h5,
#single-product .sg-sets-apart-section .sg-review-block .sg-review-card .card-header h6,
#single-product .sg-story-section .sg-review-block .sg-review-card .card-header h3,
#single-product .sg-story-section .sg-review-block .sg-review-card .card-header h4,
#single-product .sg-story-section .sg-review-block .sg-review-card .card-header h5,
#single-product .sg-story-section .sg-review-block .sg-review-card .card-header h6 {
    margin: 0
}

#single-product .sg-review-section .sg-review-block .sg-review-card .card-header .sg-card-img,
#single-product .sg-sets-apart-section .sg-review-block .sg-review-card .card-header .sg-card-img,
#single-product .sg-story-section .sg-review-block .sg-review-card .card-header .sg-card-img {
    height: 30px;
    width: 30px;
    min-width: 30px;
    margin-right: 15px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #b3b3b3
}

#single-product .sg-review-section .sg-review-block .sg-review-card .card-header .sg-card-img img,
#single-product .sg-sets-apart-section .sg-review-block .sg-review-card .card-header .sg-card-img img,
#single-product .sg-story-section .sg-review-block .sg-review-card .card-header .sg-card-img img {
    width: 100%
}

#single-product .sg-review-section .sg-review-block .sg-review-card .card-header .sg-card-title,
#single-product .sg-sets-apart-section .sg-review-block .sg-review-card .card-header .sg-card-title,
#single-product .sg-story-section .sg-review-block .sg-review-card .card-header .sg-card-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%
}

#single-product .sg-review-section .sg-review-block .sg-review-card .card-header .sg-card-title h3,
#single-product .sg-sets-apart-section .sg-review-block .sg-review-card .card-header .sg-card-title h3,
#single-product .sg-story-section .sg-review-block .sg-review-card .card-header .sg-card-title h3 {
    margin: 0 0 3px;
    font-size: 1.2rem;
    color: #000
}

#single-product .sg-review-section .sg-review-block .sg-review-card .card-header .sg-card-title h3 span.sg-date,
#single-product .sg-sets-apart-section .sg-review-block .sg-review-card .card-header .sg-card-title h3 span.sg-date,
#single-product .sg-story-section .sg-review-block .sg-review-card .card-header .sg-card-title h3 span.sg-date {
    font-size: .9rem;
    color: #444
}

#single-product .sg-review-section .sg-review-block .sg-review-card .card-header .sg-card-title h3 span.sg-date::before,
#single-product .sg-sets-apart-section .sg-review-block .sg-review-card .card-header .sg-card-title h3 span.sg-date::before,
#single-product .sg-story-section .sg-review-block .sg-review-card .card-header .sg-card-title h3 span.sg-date::before {
    content: "|";
    display: inline-block;
    margin: 0 7px 0 5px
}

#single-product .sg-review-section .sg-review-block .sg-review-card .card-body,
#single-product .sg-sets-apart-section .sg-review-block .sg-review-card .card-body,
#single-product .sg-story-section .sg-review-block .sg-review-card .card-body {
    font-size: .85rem
}

#single-product .sg-review-section .sg-user-review,
#single-product .sg-sets-apart-section .sg-user-review,
#single-product .sg-story-section .sg-user-review {
    margin-top: 20px
}

#single-product .sg-review-section .sg-user-review textarea,
#single-product .sg-sets-apart-section .sg-user-review textarea,
#single-product .sg-story-section .sg-user-review textarea {
    background-color: #ebebeb;
    border: none;
    width: 100%;
    min-height: 100px;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-family: 'Barlow Semi Condensed', sans-serif
}

#single-product .sg-review-section .sg-user-review textarea:focus,
#single-product .sg-sets-apart-section .sg-user-review textarea:focus,
#single-product .sg-story-section .sg-user-review textarea:focus {
    outline: 0
}

#single-product .sg-review-section .sg-user-review button,
#single-product .sg-sets-apart-section .sg-user-review button,
#single-product .sg-story-section .sg-user-review button {
    float: right
}

.sg-product-section .sg-main-image {
    padding: 30px
}

.sg-product-section .sg-main-image img {
    width: 100%
}

.sg-product-section .sg-main-image .sg-side-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.sg-product-section .sg-main-image .sg-side-images a {
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    max-height: 80px;
    max-width: 80px;
    width: 80px;
    margin: 0 5px
}

.sg-product-section .sg-main-image .sg-side-images a img {
    margin: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.sg-product-section .sg-product-details {
    color: #444;
    background: rgba(255, 255, 255, .35);
    padding: 30px;
    font-family: 'Barlow Semi Condensed', sans-serif
}

.sg-product-section .sg-product-details h6 {
    font-size: .85rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 600
}

.sg-product-section .sg-product-details .sg-product-title {
    padding-bottom: 10px
}

.sg-product-section .sg-product-details .sg-product-title .sg-header h1 {
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    color: #000
}

.sg-product-section .sg-product-details .sg-product-title .sg-header img {
    max-width: 180px
}

.sg-product-section .sg-product-details .sg-price {
    font-size: 1.4rem;
    font-weight: 700;
    padding: 10px 0;
    color: #000
}

.sg-product-section .sg-product-details .sg-price span {
    margin-right: 10px
}

.sg-product-section .sg-product-details .sg-price .sg-price-older {
    opacity: .2;
    font-size: 1.2rem;
    text-decoration: line-through
}

.sg-product-section .sg-product-details .sg-product-info .sg-product-accordion .acc-header {
    padding: 10px 0;
    border-bottom: 1px solid #999
}

.sg-product-info{
    padding: 10px 0;
}

.sg-product-section .sg-product-details .sg-product-info .sg-product-accordion .acc-header h6 {
    margin: 0
}

.sg-product-section .sg-product-details .sg-product-info .sg-product-accordion .acc-header a {
    display: block
}

.sg-product-section .sg-product-details .sg-product-info .sg-product-accordion .acc-header a:hover {
    text-decoration: none;
    color: #000
}

.sg-product-section .sg-product-details .sg-product-info .sg-product-accordion .acc-header a i {
    float: right;
    font-size: 16px
}

.sg-product-section .sg-product-details .sg-product-info .sg-product-accordion .acc-body {
    padding: 5px 0;
    font-size: .85rem;
    font-family: Quicksand, sans-serif
}

.sg-product-section .sg-product-details .sg-product-options h5 {
    margin-top: 0
}

.sg-product-section .sg-product-details .sg-product-options .sg-select select {
    border-radius: 0;
    margin: 15px 15px 0 0;
    text-transform: uppercase;
    border: .1em solid #757575;
    font-size: .9rem
}

.sg-product-section .sg-product-details .sg-product-options .sg-select select:last-of-type {
    margin-right: 0
}

.sg-product-section .sg-product-details .sg-product-options .sg-addToCart {
    margin: 20px 0
}

.sg-product-section .sg-product-details .sg-product-options .sg-colors {
    padding: 10px 0
}

.sg-product-section .sg-product-details .sg-product-options .sg-colors .sg-color-options {
    width: 50px;
    max-width: 60px;
    height: 50px;
    display: inline-block;
    border: 1px solid #b3b3b3
}

.sg-product-section .sg-product-details .sg-product-options .sg-colors img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

#checkout>.container {
    padding: 30px;
    background: rgba(255, 255, 255, .2);
    max-width: 800px
}

#checkout>.container>.row .flex-container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 5px
}

#checkout>.container>.row .flex-container span a {
    color: #81302e;
    font-weight: 700;
    cursor: pointer
}

#checkout>.container .form-row {
    margin-bottom: 10px
}

#cartPage .flex-container {
    margin: 10px 0
}

#cartPage .flex-container button {
    margin: 0 10px
}

#cartPage .flex-container.total-block h5:last-of-type {
    margin-left: 30px
}

#cartPage section.container {
    background: rgba(255, 255, 255, .35);
    border-radius: 5px;
    overflow: hidden
}

/* For Google Ads Box - have to put .ads-box-container in a main/parent div */
.google-ads {
    background: rgba(255, 255, 255, .45);
    margin: auto;
    margin-top: 5rem; 
    border: none;
    border-radius: unset;
}
.google-ads .ads-box-header {
    padding-bottom: 15px;
    padding-top: 15px;
    border: none;
    position: relative;
    background: rgba(0, 0, 0, .05);
}
.google-ads .ads-box-header .ads-box-header-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.google-ads .ads-body {
    font-size: .85rem;
    text-align: justify;
}

#footer,
.brand {
    background: url(../images/bodybackground.jpg)
}

.cart-pg-container .cart-table tr {
    border-bottom-color: #EEEEEE;
}

.cart-table>tbody>tr>td,
.cart-table>tbody>tr>th {
  border-top: none;
}

.cart-pg-container .cart-table td {
    vertical-align: middle
}

.cart-pg-container .cart-table input.form-control {
    max-width: 80px
}

.cart-pg-container .cart-table .img-fluid-cart {
    width: 150px;
    height: 100px;
}

.fbrand-list {
    margin-top: 20px
}

.fbrand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: .4rem;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    min-height: 110px;
    border-radius: 3px
}

.fbrand a.fbrand-img {
    display: block;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.fbrand a.fbrand-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.fbrand:hover .fbrand-img {
    opacity: .7
}

.fbrand .fbrand-name {
    text-transform: uppercase
}

#footer {
    color: #000;
    padding: 30px;
    position: relative;
    /* margin-top: -191px; */
    /* negative value of footer height */
    /* height: 191px; */
}

#footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#footer .footer-brand {
    margin-bottom: 10px
}

#footer .footer-brand img {
    height: 50px
}

#footer .social-block {
    margin: 10px 0
}

#footer .social-block a {
    display: inline-block;
    padding: 0 15px
}

#footer .social-block a i {
    font-size: 24px
}

#footer .home-contacts {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

#footer .home-contacts span {
    display: block;
    text-align: center;
    padding: 5px 15px
}

#footer .home-contacts span i {
    margin-right: 4px
}